.App-body {
  font-size: 1rem;
  /*padding: 3em;*/
  border-bottom: 3px solid #e0354b;
  height: 45%;
}
.App-body p{
  margin: 250px 20px 0;
  padding:0 10% 0;
}
form {
  padding:0 10% 0;
  margin: 20px 0;
}
form input {
  margin: 5px;
}