.App-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #E0354B;
  margin-bottom: 60px;
}

.App-header img {
  width: 160px;
  height: 160px;
}

.App-header h1 {
  color: #E0354B;
}

.App-body{
  font-size: 1.1rem;
  width: 100%;
  padding-left: 30px
}

.App-footer {
  border-top: 4px solid #E0354B;
  position: absolute;
  bottom: 0%;
  width: 99%;
  font-style: italic;
  text-align: center;
}

