.App-body {
  font-size: 1rem;
  /*padding: 3em;*/
  border-bottom: 3px solid #e0354b;
  height: auto;
  
}
form {
  padding:0 10% 0;
  margin: 20px 0;
  position: absolute;
  top: 20em;
}
form input {
  margin: 5px;
}